/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 21px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: white;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 18.375px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #000;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(1000px - (30px * 2));
  max-width: calc(1000px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(1000px - (30px));
      max-width: calc(1000px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #c2c2c2;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #c2c2c2; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #000;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: white;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #c2c2c2; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 18.375px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

.dark-theme {
  color: white;
  background-color: black; }
  .dark-theme a, .dark-theme a:visited, .dark-theme .page-link {
    color: #9c9c9c; }

.site-title {
  color: #000; }
  .site-title:visited {
    color: #000; }

.footer-bottom {
  background: #000;
  height: 45px;
  line-height: 45px;
  position: relative; }
  .footer-bottom__newsletter-column {
    float: right;
    background: inherit; }
    .footer-bottom__newsletter-column__newsletter-label {
      cursor: pointer;
      color: white; }
      .footer-bottom__newsletter-column__newsletter-label:hover {
        text-decoration: underline; }
      .dark-theme .footer-bottom__newsletter-column__newsletter-label {
        color: #000; }
    .footer-bottom__newsletter-column__form-fields {
      padding-right: 15px;
      margin-top: 27px; }
  .dark-theme .footer-bottom {
    background: white; }

a.post-link {
  text-transform: uppercase;
  color: #000; }
  .dark-theme a.post-link {
    color: white; }

#change-color {
  color: white; }
  .dark-theme #change-color {
    color: #000; }

#mc-embedded-subscribe-form {
  display: block;
  width: 100%;
  height: 45px;
  color: white;
  text-transform: uppercase; }
  #mc-embedded-subscribe-form.hidden {
    display: none; }
  .dark-theme #mc-embedded-subscribe-form {
    background: white;
    color: black; }

#mc_embed_signup_scroll {
  padding-left: 15px; }

#mce-EMAIL {
  background: white;
  color: #000;
  border: none;
  text-align: center;
  height: 35px;
  text-transform: uppercase;
  padding: 0;
  width: 100%; }
  .dark-theme #mce-EMAIL {
    background: black;
    color: white; }

#mc-embedded-subscribe {
  background: black;
  color: white;
  height: 35px;
  padding: 0 20px;
  cursor: pointer;
  width: 100%;
  border: 1px solid white; }
  .dark-theme #mc-embedded-subscribe {
    background: black;
    color: white; }

.action-button {
  color: white;
  cursor: pointer; }
  .action-button:hover {
    text-decoration: underline; }
  .dark-theme .action-button {
    color: black; }

@media screen and (min-width: 600px) {
  .footer-bottom__newsletter-column {
    padding-right: 15px; }

  .site-nav {
    line-height: initial;
    height: 56px; } }
@media screen and (min-width: 460px) {
  #mce-EMAIL {
    width: 100%; } }
.page-content {
  position: relative; }

.image-caption {
  color: #666666;
  font-size: 14px;
  font-weight: 300;
  text-align: center; }
  .dark-theme .image-caption {
    color: #999999; }

.image_centered {
  display: block;
  margin: auto; }

a.post-excerpt {
  font-size: 14px;
  font-style: italic;
  opacity: 0.6;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  color: inherit;
  cursor: pointer;
  display: block; }

.post-thumbnail {
  width: 200px;
  height: 200px;
  padding-right: 20px;
  padding-bottom: 10px; }
  .post-thumbnail:hover {
    filter: none; }

.post-list {
  overflow: hidden; }
  .post-list li {
    cursor: pointer;
    margin-bottom: 0; }
    .post-list li:not(:first-child) {
      margin-top: 40px; }
    .post-list li img {
      margin-top: 10px; }

.site-header {
  border-top: none;
  z-index: 1; }

.italic {
  font-style: italic; }

.clear-list-style {
  list-style: none; }

.post-footer {
  display: inline-block;
  width: 100%;
  position: relative; }

.post-date {
  width: 188px;
  text-align: center;
  font-size: 12px;
  background: #000;
  display: inline-block;
  color: white;
  padding: 6px;
  text-transform: uppercase; }
  .dark-theme .post-date {
    background: white;
    color: black; }

.post-tags {
  font-size: 10px;
  margin-top: 10px; }
  .post-tags__tag {
    display: inline-block;
    background: #000;
    color: white;
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    width: 100%;
    text-align: center;
    text-transform: uppercase; }
    .dark-theme .post-tags__tag {
      background: white;
      color: black; }
    .post-tags__tag:not(:first-child) {
      margin-top: 10px; }

@media screen and (min-width: 461px) {
  .post-thumbnail {
    float: left; } }
@media screen and (min-width: 740px) {
  .post-tags {
    position: absolute;
    bottom: 0;
    right: 0; }
    .post-tags__tag {
      width: auto; }
      .post-tags__tag:not(:first-child) {
        margin-top: initial; } }
.fb-container {
  float: left;
  width: 100%;
  max-width: 470px; }
  .fb-container blockquote {
    display: none; }

.wrapper {
  position: relative; }

.footer-col-wrapper {
  position: relative; }

.footer-right {
  background: black;
  height: 214px;
  padding: 0;
  float: left;
  width: 100%;
  background-size: contain;
  position: relative;
  max-width: 470px; }
  .footer-right__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1; }

.pirate-background {
  background: url(../assets/images/pirates.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: contain;
  opacity: 0.5; }

.chapter-title {
  font-size: 28px;
  font-style: italic;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  margin-left: 20px; }
  .chapter-title + blockquote {
    margin-top: 0; }

blockquote {
  font-size: 21px;
  border-color: black;
  color: black;
  margin-top: 40px;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: inherit; }
  blockquote ul {
    margin: 0; }
  blockquote ul {
    list-style-type: none; }
  blockquote ul > li {
    text-indent: 10px;
    position: relative; }
    blockquote ul > li + li {
      margin-top: 20px; }
  blockquote ul > li:before {
    content: "-";
    text-indent: -5px;
    position: absolute;
    display: block;
    left: 0; }
  blockquote + * {
    margin-top: 40px; }

hr {
  height: 1px;
  width: 100%;
  border: none;
  background-color: black;
  margin-top: 50px; }

.footer-right header {
  color: white;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 31px;
  margin-top: 10px; }

.share-button-container {
  text-align: center;
  margin: 20px 0;
  padding: 10px 0;
  border-top: solid 1px #e4e4e4;
  border-bottom: solid 1px #e4e4e4; }

.share-button-container p {
  margin: 0px 0 10px 0; }

.share-button {
  display: block; }

.share-button a {
  text-decoration: none; }

.share-button, .share-button .count {
  display: inline-block; }

.share-button .count, .share-button .share {
  font-family: "Helvetica Neue";
  font-weight: 700;
  text-decoration: none;
  text-align: center; }

.share-button .count {
  background-color: #F1F3F6;
  color: #333;
  font-size: 12px;
  line-height: 25px;
  margin-left: 4px;
  text-transform: uppercase;
  min-width: 40px; }

.share-button .share {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #FFF;
  display: inline-block;
  font-size: 13px;
  min-width: 60px;
  padding: 4px 8px; }

.share-button-twitter .share {
  background-color: #00ABF0; }

.share-button-facebook .share {
  background-color: #3b5998; }

.share-button-googleplus .share {
  background-color: #F53424; }

.share-button-twitter .share:active, .share-button-facebook .share:active, .share-button-googleplus .share:active {
  background-color: #353535; }

.share-buttons {
  left: 0;
  bottom: 20px;
  overflow: hidden; }
  .share-buttons header {
    padding-bottom: 10px;
    margin-top: 20px; }
  .share-buttons .share-button + .share-button {
    margin-top: 8px;
    margin-left: 10px; }

.fb-icon {
  background: url(../assets/images/fb-100.png); }

@media screen and (min-width: 1240px) {
  .share-buttons {
    position: fixed;
    margin-top: initial;
    margin-left: initial;
    width: 151px; }
    .share-buttons header {
      text-align: center; }
    .share-buttons .share-button {
      margin-left: 10px; } }
.read-further {
  display: block; }
  .read-further a {
    display: block;
    margin-top: 10px; }

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.active-option {
  cursor: pointer; }
  .active-option div {
    display: inline-block;
    vertical-align: middle; }

.language-selector {
  font-size: 14px;
  font-weight: 300;
  line-height: 56px;
  margin-bottom: 0;
  height: 57px;
  user-select: none;
  width: 100px;
  text-align: center; }
  .language-selector.open .active-option {
    border: 1px solid #e8e8e8;
    border-top: none; }
  .language-selector.open .caret {
    display: none; }
  .language-selector.open .options {
    display: block;
    color: black;
    background: white;
    position: absolute;
    top: 40px;
    width: 98px;
    text-align: center;
    border: 1px solid #e8e8e8;
    border-top: none; }
  .language-selector.open .page-link {
    color: black;
    display: inline;
    padding: 0;
    margin: 0; }
    .language-selector.open .page-link:hover {
      text-decoration: none;
      font-style: italic; }
  .language-selector .options {
    display: none; }

.footer-sub-links {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -10px;
  font-size: 12px;
  color: #9e9e9e; }
  .footer-sub-links a:visited {
    color: inherit; }

.site-nav {
  border: none;
  position: static;
  width: 100px; }

@media screen and (min-width: 820px) {
  .footer-right {
    width: calc(100% - 470px);
    float: right; }

  .footer-sub-links {
    right: 0;
    width: auto; } }
@media screen and (max-width: 470px) {
  .post-date {
    width: 100%; }

  .footer-col-wrapper {
    margin: auto; }

  .post-list li {
    display: block;
    width: 100%;
    text-align: center; }
    .post-list li .post-excerpt {
      text-align: left; }
    .post-list li .post-thumbnail {
      margin: 0;
      padding-right: 0; } }
@media screen and (min-width: 470px) {
  .post-list li:hover {
    text-decoration: underline; }
    .post-list li:hover img {
      filter: none; }
  .post-list li img {
    filter: grayscale(100%); } }
